@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-slate-400 font-sans antialiased selection:bg-cyan-500/30 selection:text-cyan-100;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-slate-100 font-medium tracking-tight;
  }
}

button {
  @apply inline-flex items-center justify-center rounded-sm border border-transparent px-3 py-1.5 text-sm font-medium transition-all duration-200;
}

button:focus-visible {
  @apply outline-none ring-1 ring-cyan-500;
}