@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, sans-serif;
}

button {
  @apply inline-flex items-center justify-center rounded border border-transparent px-2 py-1 text-sm transition-colors;
}

button:hover {
  @apply bg-slate-800/20;
}
